<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Test</h1>
    <% if(title !== null){ %>
    <p><%= title %></p>
    <% } %>
    <% if(title2 !== null){ %>
    <p><%= title2 %></p>
    <% } %>
    <% if(title3 !== null){ %>
    <p><%= title3 %></p>
    <% } %>

    <% if(error !== null){ %>
    <p><%= error %></p>
    <% } %>
</body>

</html>